.navbar {
    height: 10vh;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.logo {
    width: 35px;
    height: auto;
}

navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-weight: bold;
}

html {
    font-size: 14px !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px !important;
    }
}
