html,
body,
#root {
    height: 100%;
}

.room-container {
    height: 90vh;
}

.code-area {
    height: 82vh;
    overflow: auto;
    border: 1px solid black;
}

.code-nav-area {
    height: 25vh;
}

.code-nav-area textarea {
    height: 17vh;
}

.code-nav-area p {
    margin: 0.5rem 0;
}

.code-nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.CodeMirror {
    height: 50vh !important;
}

.problem-area {
    padding: 1rem;
}

.nav-button {
    height: 8vh;
    display: flex;
    justify-content: center;
    border-right: 1px solid black;
}

.nav-btn {
    width: 5rem;
}

.problem-btn button {
    width: 9rem;
}

.code-nav-btn .get-submission-btn {
    width: 9rem;
}

.code-nav-btn button {
    width: 5rem;
}

.leave-btn {
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
    background-color: #c82333;
    border-color: #bd2130;
    color: #fff;
    border-radius: 1rem;
    width: 5rem;
}

.col-9 {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
}

.container-fluid {
    height: 100%;
}

.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
}

.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
}

.tab-list-active {
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
}

.tabs {
    width: 100%;
}

.tab-list {
    width: 100%;
}

.problem-btn {
    display: flex;
    justify-content: flex-end;
}

.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
}

.code-language {
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    z-index: 10;
}

.participants {
    display: flex;
    height: 10vh;
    justify-content: center;
    padding: 0.5rem;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.chat-col {
    /* border-left-style: groove;
    justify-content: space-between;
    display: flex;
    flex-direction: column; */
    height: 90vh;
    padding: 0.5rem;
}
.chat-input {
    margin: 0.3rem;
}

.send-button {
    background-color: #53adcb;
    color: #fff;
    border-style: none;
    margin-left: 0.5rem;
    padding: 0.15rem 0.5rem;
    border-radius: 5px;
    text-align: center;
}
.input-form {
    width: 70%;
}
.send-button:hover {
    background-color: #3590ae;
}
.user-name {
    font-weight: bold;
}
.chat-area {
    overflow: auto;
    height: 70vh;
}
.user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-problem-title {
    text-align: center;
    text-transform: uppercase;
}

.problem-label {
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
}

.problem-input {
    width: 100%;
}

.problem-desc-input {
    height: 15rem;
}

.problem-lang-input {
    width: 100%;
}

.add-problem-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.add-problem-btn {
    width: 15rem;
    margin: 1.5rem auto;
}
