.rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.rating-btn {
    background-color: white;
    border: 1.5px solid black;
    border-radius: 50%;
    margin: 1rem;
}

.rating-btn:hover {
    background-color: yellow;
}
